<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="package/bootstrap/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="css/common.css">-->
    <!--<link rel="stylesheet" href="css/frame.css">-->
    <link rel="stylesheet" href="css/game.css">
    <!--<script type="text/javascript" src="js/data.js"></script>-->
    <script type="text/javascript" src="package/jquery-3.1.0.min.js"></script>
    <!--<script type="text/javascript" src="package/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="package/dong.js"></script>-->
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/bg.js"></script>
    <title>嘎嘎</title>
</head>
<body>
<div class="body">
    <header id="header">

    </header>
    <nav>
    </nav>
    <div id="wrapper">
        <section id="section">
            <article>
                <div id="bg">
                    <div id="father">
                        <div class="pillar one"></div>
                        <div class="pillar two"></div>
                        <div id="bird">
                            <div id="bird_bg"></div>
                        </div>

                        <div id="myClick" style="width: 100%;height: 100%;position: absolute;top: 0;left: 0"></div>
                        <div id="first_game">
                            <h1 >会飞的鸟</h1>
                            <img style="" src="img/button_play.png" alt="">
                        </div>
                        <div id="start_game">
                            <h1>点击开始</h1>
                            <img src="img/tutorial.png" alt="">
                        </div>
                        <div id="re_game">
                            <h1>游戏结束 啦~</h1>
                            <img id="changeImg" style="position: relative;top:400px" src="img/button_play.png" alt="">
                        </div>
                        <div id="score" >0</div>
                    </div>
                </div>
                <!--<input id="start" type="button" value="开始" >-->
                <!--<input type="button" value="退出" >-->
            </article>
        </section>
        <aside id="aside">

        </aside>
    </div>
    <footer id="footer" style="border-top: 1px dotted gainsboro">
        <p style="font-family: STKaiti;font-size: 12px;text-align: center">严俊东 2016.8.20</p>
    </footer>
</div>
</body>
</html>